:root {
  --hue-1: 257;
  --hue-2: 47;
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

#header {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  box-shadow: 0 0 5px #000;
  font-family: "Cinzel", serif;
}

.navbar {
  width: 90vw;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 0 10px #000;
}

.up-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: auto 0;
}

.up-icons a img {
  transition: all 0.3s ease;
  font-size: 1.6rem;
  text-decoration: none;
}


.linkedin-icon:hover {
  transform: translateY(-5px);
  filter: invert(0.3) sepia(1) hue-rotate(190deg) saturate(3);
}


.github-icon:hover {
  transform: translateY(-5px);
  filter: invert(0.2) sepia(1) hue-rotate(270deg) saturate(0);

}

.insta-icon:hover {
  transform: translateY(-5px);
  filter: invert(0.5) sepia(1) hue-rotate(320deg) saturate(3);
}


.svg-icon {
  display: none;
  width: 2rem;
  height: 1.8em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: darkslategrey;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

nav ul li a {
  color: #383d3f;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f7345e;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  width: 90vw;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.2;
  padding: 1rem;
  margin: auto;
}

.header-text h1 {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 0.9rem;
}

.container p {
  font-size: 1rem;
  color: #444444;
}

.typing {
  color: slategrey;
}

.header-text h1 span {
  font-size: 2.5rem;
  color: #444444;
}

/*  ----------about----------  */

.about-section {
  margin: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem #131111;
  border-radius: 15px;
}

.main-title {
  font-size: 2rem;
  font-weight: 500;
  border-left: 4px solid #f7345e;
  padding-left: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1.5rem;
}

.tab-title {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tab-links {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* scroll btn */

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/*-- -----------------skills------------------- */

.skills {
  margin: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem #131111;
  border-radius: 15px;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  border-left: 4px solid #f7345e;
  padding-left: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1.5rem;
}

.sectcion-info-heading {
  font-size: 1.2rem;
  font-weight: 500;
}

.info-about-skills {
  margin: 1rem auto;
}

.skills-wrap {
  display: grid;
  height: auto;
  grid-template-columns: repeat(5, 150px);
  margin-top: 2rem;
  justify-content: space-around;
}

.bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sk-progress {
  width: 150px;
  height: 150px;
  position: relative;
}

.sk-progress svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.sk-progress svg circle {
  fill: var(--bg-color-3);
  stroke-width: 0.2rem;
  stroke: var(--main-color-1);
  stroke-dasharray: 427;
  stroke-dashoffset: 427;
}

@keyframes progress {
  to {
    stroke-dashoffset: var(--target);
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--heading-color);
  font-weight: 400;
  font-size: 0.9rem;
}

.counter span {
  font-size: 2.45rem;
}

.sk-title {
  color: var(--heading-color);
  margin-top: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
}

/*-- -----------------Services------------------- */

#services {
  margin: autuo;
  padding: 1.5rem;
  color: #fff;
}

.services-secction-title {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  border-left: 4px solid #f7345e;
  padding-left: 0.5rem;
  border-radius: 0.2rem;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 3.2rem;
  margin: 2rem auto;
}

.services-list div {
  background: ghostwhite;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  padding: 2.4rem;
  color: #444444;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 15px;
  transition: background 0.5s, transform 0.5s;
  /* box-shadow: 0 0 10px #000; */
}

.services-list div i {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.services-list div i {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 1rem,;
}

.services-list div a {
  text-decoration: none;
  color: #444444;
  font-size: 0.9rem;
  margin-top: 1.3rem;
  display: inline-block;
}

.services-list div:hover {
  background-image: linear-gradient(
    112.9deg,
    rgba(112, 255, 151, 1) 6.2%,
    rgba(70, 195, 255, 1) 99.7%
  );
  transform: translateY(-10px);
}

/*  ----------------Portfolio-------------------	 */

#portfolio {
  margin: auto;
  padding: 1.5rem;
  overflow: hidden;
}

.work-section-title {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  border-left: 4px solid #f7345e;
  padding-left: 0.5rem;
  border-radius: 0.2rem;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 40px;
  padding: 1rem;
  box-shadow: 0 0 0.3rem #131111;
  border-radius: 15px;
  background-color: rgba(178, 211, 211, 0.788);
  margin: 2rem auto;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  padding: 20px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer p {
  color: #fff;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 28px;
  line-height: 70px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.see-more-btn {
  display: block;
  margin: 3rem auto;
  border: 1px solid firebrick;
  padding: 1rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  background-color: #abecd6;
  transition: background 0.5s;
}

.see-more-btn {
  color: #f7345e;
  font-size: 1rem;
  font-weight: 600;
}

.see-more-btn:hover {
  background: firebrick;
}

/* ------------------Contact------------------*/

.contact-section {
  margin: auto;
}

.contact-me-title {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1rem;
  border-left: 4px solid #f7345e;
  padding-left: 0.5rem;
  border-radius: 0.2rem;
}

#contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.contact-me .details {
  display: flex;
  align-items: center;
  word-spacing: 0.4rem;
  text-align: left;
  margin-top: 1rem;
}

.contact-me .details .info {
  margin-left: 1rem;
}
.contact-me .details i {
  font-size: 1.5rem;
  color: crimson;
}
.contact-me .details .info .head {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}
.contact-me .details .info .head-description {
  color: #383d3f;
  font-size: 1.1rem;
}

.contact-me .details .info .head-description a {
  color: #383d3f;
  font-size: 1.1rem;
  text-decoration: none;
}

.contact-me .details .info .head-description a:hover {
  color: firebrick;
  transform: translateY(-5px);
}

.social-icons a i {
  text-decoration: none;
  margin-top: 16px;
  font-size: 30px;
  margin-right: 15px;
  color: #ffffff;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a i:hover {
  color: firebrick;
  transform: translateY(-5px);
}

form .btn2 {
  margin-top: 1rem auto;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  background: #ff004f;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

/* copyright-section */

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: darkgray;
  color: #262626;
  font-weight: 300;
  margin-top: 20px;
}

/* ----------------css for small screen---------------*/
@media (max-width: 900px) {
  .skills {
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }

  .skills-wrap {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
  }
}

@media (max-width: 500px) {

  .navbar {
    background-image: none;
    border-radius: none;
    box-shadow: none;
    justify-content: space-around;
  }

  .svg-icon {
    display: block;
    position: absolute;
    left: 80%;
  }

  .up-icons {
    width: 40vw;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 3px #000;
    padding: 0.4rem;
    justify-content: center;
  }

  .list {
    display: none;
    margin: auto 0;
    width: 20vw;
    padding: 1rem;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    position: absolute;
    left: 73%;
    box-shadow: 0 0 3px gray;
    top: 10%;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    list-style: none;
  }

  .list.open{
    display: flex;
    animation: slide .5s ease-in-out;
  }

  @keyframes slide {
    from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  }
}
